body{
	background: #ebebeb;	
}
.img-responsive{
	width: 100%;
}
.navbar-default{
	border-top: 0;
	background: #fff;
	text-align: center;
}
.navbar-collapse ul li{
	display: inline-block;
}
.navbar-collapse ul li a{
	color: #101010;
}
@media (max-width:767px){
	.navbar-collapse ul li{
		display: block;
		text-align: left;
	}
}
.navbar-header i{
	height: 50px;
	line-height: 50px;
}
@media (min-width:768px){
	.navbar-header i{
		display: none;
	}
}
.active{
	border-bottom: 2px solid #e67e22;
}
.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #303030;
}
.post .post-head {
    text-align: center;   
}
.post .post-head .post-title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}
.post .post-head .post-title a {
    color: #303030;
}
.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0px;
}
.post .post-head .post-meta span {
    margin: 0px 7px;
    white-space: nowrap;
    
}
a{
    color: #e67e22;
    outline: none;
}
.post .post-content {
    margin: 30px 0;
}
.post-content p {
    margin-top: 0;
    margin-bottom: 1.46em;
}
.post-content {
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
}
.btn-default {
    border: 1px solid #e67e22;
    background: #e67e22;
    color: #ffffff;    
}
.btn {
    padding: 7px 14px;
    border-radius: 2px;
}
.post .post-footer {
    margin-top: 30px;
    border-top: 1px solid #ebebeb;
    padding: 21px 0 0;
}
.post .post-footer .tag-list {
    color: #959595;
    line-height: 28px;
}
.post .featured-media {
    margin-top: 30px;
    overflow: hidden;
}
.post .featured-media img {
    width: 100%;
}

.post .featured {
    position: absolute;
    background: #e67e22;
    color: #ffffff;
    text-align: center;
    top: -12px;
    right: -32px;
    width: 80px;
    height: 40px;
    line-height: 54px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sidebar .widget {
    background: #ffffff;
    padding: 21px 30px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.widget {
    margin-bottom: 35px;
}

.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-footer {
    background: #202020;
    padding: 35px 0 0;
    color: #959595;
}
.main-footer .widget .title {
    color: #ffffff;
    border-bottom: 1px solid #303030;
}
.main-footer .widget .friend-links a {
    border: none;
}
.main-footer .widget .friend-links hr {
    margin: 1em 0;
    border-top: 1px dashed #303030;
}
.copyright {
    background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
}